/*** sectioning elements ***/

body { 
   background-color: lightblue;
}

header {

}

main {

}

footer {

}

nav {
  
}

section {

}

aside {

}


/**** content styles ***/

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {

}

td {

}


/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {
   color: darkblue; 
}

a:visited {
   color: darkpink;
}

a:hover {
   color: green;
}

a:active {

}

